SHAREing realises its agenda through tasks:
Different working groups meet regularly (see events sections for meeting slots) and identify tasks.
The consortium then issues call for miniprojects, where each proposal has to identify which of these tasks it will address and deliver.
This way, we ensure that RTPs engaging with SHAREing can propose their own projects, all while contributing towards an overarching agenda and vision.
The complete workflow is described at [in SHAREing's organigram](about/organigram).



{% assign entries = site[include.collection] %}
{% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}

{% if entries %}
  {% if include.sort_by == 'title' %}
    {% assign entries = entries | sort: 'title' %}
  {% elsif include.sort_by == 'date' %}
    {% assign entries = entries | sort: 'date' %}
  {% elsif include.sort_by == 'order' %}
    {% assign entries = entries | sort: 'order' %}
  {% endif %}

  {% if include.sort_order == 'reverse' %}
    {% assign entries = entries | reverse %}
  {% endif %}

  {%- for entry in entries -%}
    {% capture date %}{{entry.date | date: '%s' | plus: 0 }}{% endcapture %}
    {% include events-entry.html %}
  {%- endfor -%}
{% else %}
  <p>No entries found in collection: {{ include.collection }}</p>
{% endif %}



